.bg_dark {
    background-color: #0f172b;
}

.bg_less_dark{
    background-color: #162441b4;
}

.navbar {
    --bs-navbar-padding-y: 0;
}

.dropdown{
    width: 100%;
    
}

.text_light {
    color: #f8fafc;
}

.nav-link {
    color:#f8fafc;
}

.link_active {
    font-size: 25px;
    color: #005396
}

li.nav-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.521);
}

.navbar-toggler {
    border: none;
    outline: none;
}


.navbar-toggler-icon {
    color: white;
}

@media only screen and (min-width: 600px) {


}

@media only screen and (min-width: 992px) {
    .navbar {
        padding: 20px;
    }

    li.nav-item {
        border-bottom: none;
    }
    

}