.navbar {
    padding: 12px;
}

li.nav-item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.521);
}

.nav-item {
    display: flex;
}

.nav-item .arrow {
    color: white;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-brand {
    text-align: center;
}


@media only screen and (min-width: 600px) {


}

@media only screen and (min-width: 992px) {
    .navbar {
        padding: 20px;
    }

    li.nav-item {
        border-bottom: none;
    }
}