.navbar {
    padding: 12px;
    display: flex;
}

li.nav-item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.521);
}

.navbar-toggler {
    border: none;
    outline: none;
    position: absolute;
    left: 12px;
    top: 13px;
}

.navbar-brand {
    text-align: center;
    margin: 0 auto;
}


@media only screen and (min-width: 600px) {


}

@media only screen and (min-width: 992px) {
    .navbar {
        padding: 20px;
    }

    li.nav-item {
        border-bottom: none;
    }
    


}