:root {
    --font-color: #f8fafc;
    --background-color: #0f172b;
    --subtext-color: #94a3b8;
    --accent-color: #125FA9;
    --pane-padding: 20px;
}

.mobile-header {
    display: block;
    background-color: var(--background-color);;
}

.mobile-brand {
    color: var(--font-color) !important;
    font-size: 25pt !important;
    margin: 0 10px;
    font-weight: 500;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-nav .nav-link {
    color: var(--subtext-color) !important;
    font-size: 14pt;
    margin: 0 25px;
    border-bottom: 2px solid transparent;
}

.nav-links:hover {
    color: var(--font-color) !important;
    border-bottom: 2px solid var(--accent-color);
    transition: color 0.3s, border-bottom 0.3s;
}

.nav-links .active {
    color: var(--font-color) !important;
    font-weight: 600;
}

.desktop-header {
    background-color: var(--background-color);
    padding: var(--pane-padding);
}

.desktop-nav .desktop-brand {
    color: var(--font-color);
    font-size: 25pt !important;
    font-weight: 600;
    text-decoration: none;
}

.desktop-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 10px;
    gap: 0 50px;
    padding: 0;
}

.desktop-brand {
    margin: 0 20px;
}

.desktop-nav .nav-item a {
    color: var(--subtext-color) !important;
    font-size: 14pt;
    list-style-type: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
}

.desktop-nav a:hover {
    color: #d3d5d7 !important;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: var(--font-color) !important;
    border-bottom: 2px solid var(--accent-color);
    transition: color 0.3s, border-bottom 0.3s;
}

.nav-item a.active {
    color: var(--font-color) !important;
    font-weight: 600;
}

@media (min-width: 992px) {
    .mobile-header {
        display: none !important;
    }

    .desktop-header {
        display: block !important;
    }
}

@media (max-width: 992px) {
    .desktop-header {
        display: none !important;
    }

    .mobile-header {
        display: block !important;
    }
}