:root {
    --font-color: #f8fafc;
    --background-color: #0f172b;
    --subtext-color: #94a3b8;
    --accent-color: #125FA9;
    --accent-color-hover: #005396;
    --light-blue: #60a5fa;
}

/* Navigation*/

.navbar {
    background-color: var(--background-color);
}

/* Header */

.navbar-brand {
    color: var(--font-color);
    font-size:  20px;
    margin-left: 10px;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: var(--font-color);
    border-bottom: 2px solid var(--light-blue);
    transition: color 0.3s, border-bottom 0.3s;
}

.nav-item .nav-link {
    color: var(--subtext-color);
    font-size: 15px;
    cursor: pointer;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
}

.navbar-nav .nav-link.active {
    font-weight: 600;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* Mobile + Tablets (XS + SM + MD) */
@media (max-width: 991px) {
    .nav-item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .nav-item:last-child {
        border-bottom: none;
    }

    .nav-link {
        padding: 12px 15px;
        flex: 1;
    }

    .nav-arrow {
        color: var(--font-color);
        padding-right: 15px;
    }
}

/* Desktop (LG) */
@media (min-width: 992px) {
    .navbar {
        padding: 25px 0;
    }

    .nav-item {
        border-bottom: none;
        display: flex;
        align-items: center;
    }

    .nav-link {
        padding: 8px 15px;
    }

    .nav-arrow {
        display: none;
    }
}






























/* Homepage hero section */

.hero-section {
    background-color: #f8fafc;
    padding-top: 70px;
    padding-bottom: 90px;
}

.hero-text {
    padding: 50px 0;
}

.hero-slogan {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--background-color) !important;
    margin-bottom: 5px;
}

.hero-title {
    font-size: 5.5rem;
    font-weight: 800;
    line-height: 0.95;
    color: var(--background-color);
    margin-bottom: 30px;
}

.hero-description {
    font-size: 1.35rem;
    line-height: 1.6;
    border-left: 3px solid var(--subtext-color) !important;
    color: var(--main-color);
    padding: 10px 20px 4px 20px;
} 

.hero-image-box img{
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

p.hero-description {
    margin-bottom: 0;
}

@media (max-width: 1200px) {
    .hero-title {
        font-size: 4.5rem;
    }
    .hero-paragraph-box {
        max-width: 460px;
    }
    .hero-image {
        margin-top: 30px;
    }
}

@media (max-width: 991px) {
    .hero-section {
        padding: 50px 0 60px;
    }

    .hero-text {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .hero-title {
        font-size: 4rem;
    }
}

@media (max-width: 767px) {
    .hero-slogan {
        font-size: 1.1rem;
    }

    .hero-title {
        font-size: 3.1rem;
        line-height: 1;
    }
    .hero-paragraph-box {
        padding-left: 18px;
        max-width: 420px;
    }

    .hero-paragraph {
        font-size: 1.05rem;
    }
}






























/* Footer */

.row {
    display: flex;
    flex-wrap: wrap;
}

footer .row > div {
    display: flex;
    flex-direction: column;
}

/* For all sizes before desktop or XL */
@media (max-width: 1199px) {
    .footer_border {
        border-bottom: 2px solid #4c595e;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .footer_border:last-child {
        border-bottom: None;
    }

}

/* This one will be for desktop (after XL)  */

@media (min-width: 1200px) {
    .footer_border {
        border-bottom: none;
    }

    .footer_border:last-child {
        border-right: none;
    }

    .logo_social {
        margin-top: 40px;
    }
}


footer .logo_social {
    display: block;
    align-items: center;
    text-align: center;
    width: 100;
    /* border: 2px solid white; */
    justify-content: center;
}

footer .social {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    /* border: 2px solid white; */
    gap: 6px;
}

.bg_dark{
    background-color: var(--background-color);
}

.fa-instagram {
    background: #125688;
    color: var(--font-color);
}

.fa-google {
    background: #dd4b39;
    color: var(--font-color);
}

.fa-youtube {
    background: #bb0000;
    color: var(--font-color);
}

.fa-facebook {
    background: #3B5998;
    color: var(--font-color);
}

.fa {
    padding: 9px;
    font-size: 16px;
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

footer .link {
    text-decoration: none;
    color: var(--font-color)
}

footer .link:hover {
    text-decoration: underline;
}
