.activity-card img {
    height: 200px;
    object-fit: cover;
}

/* Trial Design 1: */

.trial_1 .activity-card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.trial_1 .activity-card .card-body {
    padding: 20px;
}

/* .card-body {
    border: 2px solid black;
} */

.trial_1 .activity-card .card-title {
    color: #60a5fa;
    font-weight: 600;
}

.trial_1 .badge {
    font-size: 10px;
    padding: 5px 10px;
}


/* Trial Design 2: */

.trial_2 .activity-card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.trial_2 .title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}


/* Trial Design 3 */

.trial_3 .image-wrapper {
    position: relative;
    height: 200px;
}

.trial_3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trial_3 .badges-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 5px;
}

/* Final Design */

.final-design .title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}