:root {
    --font-color: #f8fafc;
    --background-color: #0f172b;
    --subtext-color: #94a3b8;
    --accent-color: #125FA9;
    --accent-color-hover: #005396;
    --light-blue: #60a5fa;
}

/* Navigation*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    background-color: var(--background-color);
}

/* Header */

.navbar-brand {
    color: var(--font-color);
    font-size:  20px;
    margin-left: 10px;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: var(--font-color);
    border-bottom: 2px solid var(--light-blue);
    transition: color 0.3s, border-bottom 0.3s;
}

.nav-item .nav-link {
    color: var(--subtext-color);
    font-size: 15px;
    cursor: pointer;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
}

.navbar-nav .nav-link.active {
    font-weight: 600;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* Mobile + Tablets (XS + SM + MD) */
@media (max-width: 991px) {
    .nav-item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .nav-item:last-child {
        border-bottom: none;
    }

    .nav-link {
        padding: 12px 15px;
        flex: 1;
    }

    .nav-arrow {
        color: var(--font-color);
        padding-right: 15px;
    }
}

/* Desktop (LG) */
@media (min-width: 992px) {
    .navbar {
        padding: 25px 0;
    }

    .nav-item {
        border-bottom: none;
        display: flex;
        align-items: center;
    }

    .nav-link {
        padding: 8px 15px;
    }

    .nav-arrow {
        display: none;
    }
}

/* Hero banner - Made by Noah */

.hero-banner-section {
    background-color: #e5e7eb;
}

.hero-banner {
    background-image: url('/images/potential-queenstown-hero-image.jpg');
    background-size: cover;
    background-position: center;
    padding: 170px 80px;
}

.hero-overlay-box {
    background-color: var(--font-color);
    opacity: 0.8;
    max-width: 650px;
    padding: 40px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.hero-slogan {
    font-size: 16pt;
    font-weight: 600;
    margin-bottom: 5px;
}

.hero-title {
    font-size: 48pt;
    font-weight: 800;
    color: var(--background-color);
    margin-bottom: 20px;
}

.hero-paragraph {
    font-size: 16pt;
    line-height: 1.6;
    font-weight: 300;
    border-left: 3px solid var(--accent-color) !important;
    color: var(--background-color);
    padding: 5px 0 5px 20px;
    margin-bottom: 0;
}

.hero-button {
    display: block;
    width: fit-content;
    margin: 24px 0 0 auto;
    padding: 18px 33px;
    font-size: 16pt;
    font-weight: 300;
    text-decoration: none;
    color: var(--accent-color) !important;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-button:hover {
    color: var(--accent-color-hover) !important;
    border: 2px solid var(--accent-color-hover);
    transform: translateY(-3px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.22);
    opacity: 0.95;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 1200px) {
    .hero-banner {
        padding: 130px 60px;
    }

    .hero-overlay-box {
        max-width: 560px;
        padding: 32px;
    }

    .hero-slogan {
        font-size: 15pt;
    }

    .hero-title {
        font-size: 30pt;
    }
    .hero-paragraph {
        font-size: 12pt;
    }
}

@media (max-width: 991px) {
    .hero-banner {
        max-height: 620px;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .hero-overlay-box {
        margin-top: 50px;
        max-width: 520px;
        padding: 28px;
    }

    .hero-slogan {
        font-size: 13pt;
    }

    .hero-title {
        font-size: 30pt;
    }

    .hero-paragraph {
        font-size: 11pt;
    }

}

@media (max-width: 767px) {
    .hero-banner {
        padding: 60px;
    }

    .hero-overlay-box {
        margin-top: 50px;
        max-width: 420px;
        padding: 22px;
    }

    .hero-banner-button {
        margin-top: 24px;
        padding: 10px 20px;
    }

    .hero-slogan {
        font-size: 12pt;
    }

    .hero-title {
        font-size: 22pt;
    }

    .hero-paragraph {
        font-size: 10pt;
    }

}

@media (max-width: 576px) {
    .hero-banner {
        padding: 30px;
    }

    .hero-overlay-box {
        max-height: 550px;
        padding: 16px;
    }

    .hero-slogan {
        font-size: 11pt;
    }

    .hero-title {
        font-size: 14.4pt;
        margin-bottom: 10px
    }

    .hero-paragraph {
        font-size: 10pt;
        max-height: 400px;
    }

    .hero-button {
        padding: 20px;
        font-size: 12pt;
        justify-self: center;
        margin-left: 0;
    }
}




/* Footer */

footer .row > div {
    display: flex;
    flex-direction: column;
}

/* For all sizes before desktop or XL */
@media (max-width: 1199px) {
    .footer_border {
        border-bottom: 2px solid #4c595e;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .footer_border:last-child {
        border-bottom: None;
    }

}

/* This one will be for desktop (after XL)  */

@media (min-width: 1200px) {
    .footer_border {
        border-bottom: none;
    }

    .footer_border:last-child {
        border-right: none;
    }

    .logo_social {
        margin-top: 40px;
    }
}


footer .logo_social {
    display: block;
    align-items: center;
    text-align: center;
    /* border: 2px solid white; */
    justify-content: center;
}

footer .social {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    /* border: 2px solid white; */
    gap: 6px;
}

.bg_dark{
    background-color: var(--background-color);
}

.fa-instagram {
    background: #125688;
    color: var(--font-color);
}

.fa-google {
    background: #dd4b39;
    color: var(--font-color);
}

.fa-youtube {
    background: #bb0000;
    color: var(--font-color);
}

.fa-facebook {
    background: #3B5998;
    color: var(--font-color);
}

.fa {
    padding: 9px;
    font-size: 16px;
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

footer .link {
    text-decoration: none;
    color: var(--font-color);
}

footer .link:hover {
    text-decoration: underline;
}


/* Activities Page */

.hero {
    background: #60a5fa;
    color: white;
    padding: 250px 0 230px;
    text-align: center;
}

.hero h1 {
    font-weight: 650px;
    margin-bottom: 15px
}


.header {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--accent-color);
    margin-bottom: 2rem;
}

/* Activity Cards: */

.activity-card img {
    height: 250px;
    object-fit: cover;
}

.activity-card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.activity-card .card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.activity-card .card-text {
    flex: 1;
}

.activity-card .card-title {
    color: var(--accent-color);
    font-weight: 600;
}

.badge {
    font-size: 10px;
    padding: 5px 10px;
}

/* Custom Badge Colors */
.badge-history {
    background-color: #441700;
    color: white;
}

.badge-local {
    background-color: #001659;
    color: white;
}

.badge-free {
    background-color: #478303;
    color:white;
}

.badge-adrenaline {
    background-color: #ef4444;
    color: white;
}

.badge-heights {
    background-color: #8b5cf6;
    color: white;
}

.badge-water {
    background-color: #3b82f6;
    color: white;
}

.badge-winter {
    background-color: #06b6d4;
    color: white;
}

.badge-views {
    background-color: #64748b;
    color: white;
}

.badge-nature {
    background-color: #22c55e;
    color: white;
}

.badge-scenic {
    background-color: #0ea5e9;
    color: white;
}

.badge-wine {
    background-color: #dc2626;
    color: white;
}

.badge-food {
    background-color: #f59e0b;
    color: white;
}

.activity-card .title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.activity-card .btn {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.activity-card .btn:hover {
    background-color: var(--accent-color-hover);
    border-color: var(--accent-color-hover);
    color: white;
}

/* Discover Section */
.discover-section {
    background-color: var(--accent-color);
    width: 100%;
}

.discover-title {
    color: white;
    font-weight: 700;
}

.discover-text {
    color: rgba(255, 255, 255, 0.9);
}

.discover-section .btn {
    background-color: white;
    color: var(--background-color);
    border: none;
}

.discover-section .btn:hover {
    background-color: var(--accent-color-hover);
    color: white;
}
