.hero {
    background: #60a5fa;
    color: white;
    padding: 250px 0 230px;
    text-align: center;
}

.hero h1 {
    font-weight: 650px;
    margin-bottom: 15px
}


.header {
    text-align: center;
}


/* Activity Cards: */

.activity-card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.activity-card img {
    height: 200px;
}

.activity-card .card-body {
    padding: 20px;
}

/* .card-body {
    border: 2px solid black;
} */

.activity-card .card-title {
    color: #60a5fa;
    font-weight: 600;
}

.badge {
    font-size: 10px;
    padding: 5px 10px;
}